.banner {
    background-image: url('https://s1.1zoom.me/b5050/96/Brazil_Houses_Marinas_Rio_de_Janeiro_Bay_Night_547331_2560x1440.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-bottom: 50px;
    width: 100vw;
    height: 100vh;
    
}

.container-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px 0;
}

.banner .titulo-banner{
    margin: 50px auto;
    border-radius: 20px;
    border: 1px  solid #acabab;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 75vh;
    max-width: 80%;
    flex-grow: 1;
    
    padding: 20px 100px;
    background: #ffffff10;
    backdrop-filter: blur(15px);
    
    
}

.titulo-banner h1 {
    color: #e4dfdf;
    font-size: 5cqmax;
    font-family: 'Lucida Sans', sans-serif;
    margin: 20px 0;
    margin-left: 20px;
}

.titulo-banner h3 {
    color: #e6952b;
    font-size: 1.9cqmax;
    border-bottom: 1px solid #fff;
    max-width: 400px;
    font-family: tahoma;
}

.titulo-banner p{
    line-height: 2;
    font-size: 1.5cqmax;
    font-weight: 700;
    font-family: tahoma;
    color: #e6952b;
}